<footer>
	 <section class="section section--color-3">
		<div class="section--container">
		<div><span>Thanks for stopping by</span>
			<h3 class="item space-down-24">Let's chat!</h3>
		</div>
			<a href="mail-to:milaaliefalya@gmail.com" class="arrow-text space-down-12">
				<span><img src="/assets/icon/ico_email.svg"></span>
				<span class="body">Mail</span>
			</a>
			<a href="https://www.linkedin.com/in/milaalief/" class="arrow-text">
				<span><img src="/assets/icon/ico_linkedin.svg"></span>
				<span class="body">Linkedin</span>
			</a>
		</div>
	</section>
</footer>