* {
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  padding: 0;
  width: 75%;
  color: $text-body;
}

html {
  font-family: $font;
  font-size: $body;
  overflow-y: scroll;

  @media (max-width: 800px) {
    width: 100%;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  @media (max-width: 800px) {
    width: 90%;
    margin: auto;
  }
}
h2{
  font-size: $h2;
  color: $text-heading;
  text-transform: uppercase;
}

.section{
  padding: 0 0 16px 0;
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: $grey;

  a{
  text-decoration: none;
  color: $midnight;
  font-size: $caption;
  font-weight: 500;

    &:hover, &:focus{
    color: $hotpink;
    }
  }

  i{
    vertical-align: middle;
  }


  &-link{
    padding: 16px 0 0 0;
    text-align: right;
  }
}

footer{
  margin: 80px 0 0 0;
  padding: 16px 0 16px 0;
  font-size: $caption;
  color: $text-body;
  border-top-style: solid;
  border-color: $darker-grey;
  border-width: 1px;
  a{
  text-decoration: none;
  color: $midnight;
  padding: 0 8px 0 8px;

  &:hover, &:focus{
    text-decoration: underline;
  }
  }
}
p{
    color: $text-body;
    font-size: $body;
    line-height: 1.7em;

  } 
h1, h2, h3{
  color: $text-heading;
}
br{
  height: 12px;
}

