nav {
  width: 80%;
	padding: 24px 0px 24px 0px;
  margin: auto;

   @media (max-width: 800px) {
    padding: 24px 20px 24px 20px;
    }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    @media (max-width: 800px) {
    display: grid;
    grid-gap: 24px;
    text-align: center;
    }

  }

  li { 
  	display: inline;
  	float: right;
   }

  a {
    font-weight: normal;
  	font-size: 16px;
  	color: $text-body;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;

    &:hover, &:focus{
    color: $hotpink;
    }

    @media (max-width: 800px) {
    font-size: $caption;
    }
  }
}

.current {
  font-weight: normal;
	color: $hotpink;
}
.identity{
  padding: 0;
  font-weight: bold;
	color: $text-heading;
	font-size: $body;
  text-transform: uppercase;
  
  @media (max-width: 400px) {
    text-align: center;
  }
}