.section {
  width: 100%;
}

.container{
    width: 80%;
    margin: auto;
}

.section--container{
    width: 75%;
    margin: auto;
    padding: 96px 0px 96px 0px;

    @media (max-width: 800px) {
    width: 100%;
    margin: 0px;
    padding: 36px 20px 36px 20px;
  }
    
}

.container--grid {
  display: flex;
  justify-content: space-between;


  @media (max-width: 800px) {
   flex-wrap: wrap;
  }

}

.section--color-1 {
  background: #F9F4EF;  

}

.section--color-2 {
  background: #FFFAF5;
}
.section--color-3 {
  background: #F1EEEB;
}

.item--text{
width: 65%;

}

.item--img{
    text-align: center;
    margin: auto;
}

.grid--center{
    align-items: center;
}

.arrow-text{
    display: flex;
    align-item: baseline;
    color: $text-heading;
    span{
     margin-right: 12px;
    }
}
.arrow-text:hover,{
   color: $hotpink;
   span{
    color: $hotpink;
   }
}


.box--project-full{
    padding: 56px 0px 56px 42px; 
    margin-bottom: 80px;
}
.box--project-half{
    padding: 0px 42px 56px 42px; 
    margin: 0px 28px 80px 28px;
    
}

.box--gallery{
    margin: 0px 28px 80px 28px;
}

.box--gallery-text{
    padding: 56px 0px 0px 56px;
    h3, a{
    color: #ffffff;
    }
}

.title-post{
    width: 650px;
    margin-bottom: 16px;
}

.paragraph{
    width: 650px;
    ul, li{
        font-size: $body;
        line-height: 30px;
    }
}

.separator{
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
  margin: 80px 0px 80px 0px;
}

.project--bg-1{
    background-color: #F8E8D0;
}
.project--bg-2{
    background-color: #FCE4EB;
}
.project--bg-3{
    background-color: #D6E4D9;
}
.project--bg-4{
    background-color: #FFE8C3;
}
.project--bg-5{
    background-color: #524D8F;
}
.project--bg-6{
    background-color: #BA6977;
}

@media (max-width: 800px){
.box--project-full, .box--project-half, .box--gallery{
    padding: 16px;
    margin: 0px 0px 36px 0px;
}
.box--gallery-text{
    padding:0px;
}
.item-text, .title-post, .paragraph{
    width:100%;
}

}
