//Primary Color
$hotpink: #FF0099;
$midnight: #1A117C;

//Text Color
$text-heading: #171C1D;
$text-body: #464B4B;
$text-subdue: #879092;
$text-disable: #C6CBCD;

//Border Color
$subtle-grey: #F1F0EF;
$grey: #E2E1DF;
$darker-grey: #CECDCA;

//Font
$font: Inter, sans-serif;

$caption-smaller:12px;
$caption:14px;
$body-smaller:16px;
$body:18px;
$subheading:24px;
$h2:28px;
$h1:36px;
$title:48px;