
//Primary Color
$hotpink: #FF0099;
$midnight: #1A117C;

//Text Color
$text-heading: #0D0F0F;
$text-body: #2D3031;
$text-subdue: #787D7E;
$text-disable: #C6CBCD;

//Border Color
$subtle-grey: #F1F0EF;
$grey: #E2E1DF;
$darker-grey: #CECDCA;


$caption-smaller:12px;
$caption:14px;
$body-smaller:16px;
$body:20px;
$subheading:24px;
$h3:32px;
$h2:42px;
$title:54px;